<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/core-icons/iconsets/social-icons.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">

<polymer-element name="ele-header" attributes="package user env">
  <template>
    <link rel="stylesheet" href="ele-header.css">
    <core-toolbar>
      <paper-icon-button icon="menu" title="Browse Elements" command="drawer-toggle" id="drawer_toggle" on-click="{{runCommand}}"></paper-icon-button>
      <div>{{package.name}}</div>
      <div flex>
        <paper-icon-button icon="create" title="Edit Details"></paper-icon-button>
        <paper-icon-button icon="social:share" title="Publish Element"></paper-icon-button>
        <paper-icon-button icon="cancel" title="Delete Element"></paper-icon-button>
      </div>
      <div>
        
      </div>
      <div id="username">{{user.name}}</div>
      <paper-icon-button icon="help" on-click="{{launchHelp}}" title="Documentation"></paper-icon-button>
      <paper-icon-button icon="exit-to-app" on-click="{{logout}}" title="Logout"></paper-icon-button>
    </core-toolbar>
  </template>
  <script>
    Polymer('ele-header', {
      toggleUserMenu: function() {
        this.$.userMenu.opened = !this.$.userMenu.opened;
      },
      logout: function() {
        window.location = this.env.API_ORIGIN + "/logout";
      },
      runCommand: function(e) {
        this.fire('core-signal', {name: e.target.getAttribute('command')});
      },
      launchHelp: function() {
        window.open('/docs');
      }
    });
  </script>
</polymer-element>
