core-toolbar {
  background: #FF4081;
  color: white;
  fill: white;
}

[drawer], core-drawer-panel::shadow #drawer {
  z-index: 1000;
}

core-drawer-panel::shadow #scrim {
  z-index: 4;
}

#element-sidebar {
  background: white;
}

#element-sidebar paper-button {
  background: #efefef;
  display: block;
  margin: 10px;
}

pvc-spinner::shadow .spinner > div {
  background: #FF4081;
}