<link rel="import" href="../bower_components/polymer-ui-icon-button/polymer-ui-icon-button.html">

<polymer-element name="ele-footer">
  <template>
    <link rel="stylesheet" href="/css/ele-footer.css">
    <polymer-ui-icon-button icon="grid" on-click="{{sendCommand}}" command='{"name":"layout","args":"left"}'></polymer-ui-icon-button>
    <polymer-ui-icon-button icon="grid" on-click="{{sendCommand}}" command='{"name":"layout","args":"right"}'></polymer-ui-icon-button>
    <polymer-ui-icon-button icon="grid" on-click="{{sendCommand}}" command='{"name":"layout","args":"left"}'></polymer-ui-icon-button>
  </template>
  <script>
    Polymer('ele-footer', {
      sendCommand: function(e) {
        this.fire('command', JSON.parse(e.target.getAttribute('command')));
      }
    });
  </script>
</polymer-element>