<link rel="import" href="/bower_components/ace-element/ace-element.html">
<link rel="import" href="/bower_components/polymer-flex-layout/polymer-flex-layout.html">
<link rel="import" href="/bower_components/polymer-ui-splitter/polymer-ui-splitter.html">

<link rel="import" href="/components/ele-preview.html">

<polymer-element name="ele-workspace" attributes="layout package">
  <template>
    <polymer-flex-layout></polymer-flex-layout>
    <panel id="sourceContainer">
      <div class="card"><ace-element theme="clouds" mode="html">{{package.files[package.name + '.html']}}</ace-element></div>
    </panel>
    <polymer-ui-splitter direction="left"></polymer-ui-splitter>
    <section flex>
      <polymer-flex-layout vertical></polymer-flex-layout>
      <panel id="previewContainer">
        <ele-preview class="card"></ele-preview>
      </panel>
      <polymer-ui-splitter direction="up"></polymer-ui-splitter>
      <panel flex id="demoContainer">
        <div class="card"><ace-element theme="clouds" mode="html">{{package.files['demo.html']}}</ace-element></div>
      </panel>
    </section>
    
    <style>
      :host { height: 100%; }
      
      panel {
        display: block;
        overflow: hidden;
        position: relative;
        padding: 10px;
      }
      
      ace-element { width: 100%; height: 100%; }
      
      .card {
        background: white;
        box-shadow: 0 3px 8px rgba(0,0,0,0.2);
        position: absolute;
        width: calc(100% - 15px);
        height: calc(100% - 15px);
        top: 10px;
        left: 5px;
      }

      #sourceContainer {
        width: 50%;
        padding-right: 5px;
      }
      
      #sourceContainer .card {
        left: 10px;
        width: calc(100% - 15px);
        height: calc(100% - 20px);
      }

      #demoContainer {
      }
      #demoContainer .card {
        top: 5px;
      }

      #previewContainer {
        height: 400px;
      }
      
      polymer-ui-splitter {
        box-shadow: none;
      }
    </style>
  </template>
  
  <script>
    Polymer('ele-workspace', {
      layout: 'left'
    });
  </script>
</polymer-element>