<link rel="import" href="../bower_components/paper-item/paper-item.html">

<polymer-element name="ele-package-list" attributes="packages active">
  <template>
    <template repeat="{{package in packages}}">
      <paper-item active="{{package.name == active}}" on-click="{{loadPackage}}">{{package.name}}</paper-item>
    </template>
    <style>
      paper-item[active] {
        background: #333;
        color: white;
      }
    </style>
  </template>
  <script>
    Polymer('ele-package-list', {
      loadPackage: function(e) {
        e.target.setAttribute('active', true);
        this.fire('selected', e.target.innerText);
      }
    });
  </script>
</polymer-element>