<link rel="import" href="/bower_components/ace-element/ace-element.html">
<link rel="import" href="/bower_components/polymer-flex-layout/polymer-flex-layout.html">
<link rel="import" href="/bower_components/polymer-ui-splitter/polymer-ui-splitter.html">

<polymer-element name="ele-workspace" attributes="layout package">
  <template>
    <polymer-flex-layout></polymer-flex-layout>
    <panel id="sourceContainer"><ace-element theme="clouds" mode="html">{{package.files[package.name + '.html']}}</ace-element></panel>
    <polymer-ui-splitter direction="left"></polymer-ui-splitter>
    <section flex>
      <polymer-flex-layout vertical></polymer-flex-layout>
      <panel id="previewContainer">demo preview goes here</panel>
      <polymer-ui-splitter direction="up"></polymer-ui-splitter>
      <panel flex id="demoContainer"><ace-element theme="clouds" mode="html">{{package.files['demo.html']}}</ace-element></panel>
    </section>
    
    <style>
      :host { height: 100%; }
      
      panel {
        display: block;
        overflow: hidden;
        position: relative;
      }
      
      ace-element { width: 100%; height: 100%; }

      #sourceContainer {
        background: red;
        width: 50%;
      }

      #demoContainer {
        background: blue;
      }

      #previewContainer {
        background: yellow;
        height: 400px;
      }
    </style>
  </template>
  
  <script>
    Polymer('ele-workspace', {
      layout: 'left'
    });
  </script>
</polymer-element>