<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/core-icons/iconsets/social-icons.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/pvc-globals/pvc-globals.html">
<link rel="import" href="../bower_components/core-signals/core-signals.html">
<link rel="import" href="../bower_components/core-tooltip/core-tooltip.html">

<polymer-element name="ele-header">
  <template>
    <link rel="stylesheet" href="ele-header.css">
    
    <core-signals on-core-signal-saved="{{updateSaved}}"></core-signals>
    
    <core-toolbar>
      <pvc-globals id="globals" values="{{globals}}"></pvc-globals>
      
      <core-tooltip label="Browse" class="fancy">
        <paper-icon-button icon="menu" title="Browse Elements" command="drawer-toggle" id="drawer_toggle" on-click="{{runCommand}}" style="margin-left: -10px"></paper-icon-button>
      </core-tooltip>
      <div>{{globals.package.name}}</div>
      <div>
        <!--<paper-icon-button icon="create" title="Edit Details"></paper-icon-button>-->
        <core-tooltip label="Share Element" class="fancy">
          <paper-icon-button icon="social:share" title="Share Element" on-click="{{openPublicPage}}"></paper-icon-button>
        </core-tooltip>
        <core-tooltip label="Delete Element" class="fancy">
          <paper-icon-button icon="cancel" title="Delete Element" on-click="{{runCommand}}" command="destroy"></paper-icon-button>
        </core-tooltip>
      </div>
      <template if="{{savedAt}}">
        <span class="saved-at">Last saved at <time>{{savedAt | formatTime}}</time></span>
      </template>
      <div flex></div>
      <div id="username">{{globals.user.name}}</div>
      <core-tooltip label="Documentation" class="fancy">
        <paper-icon-button icon="help" on-click="{{launchHelp}}" title="Documentation"></paper-icon-button>
      </core-tooltip>
      <core-tooltip label="Logout" class="fancy">
        <paper-icon-button icon="exit-to-app" on-click="{{logout}}" title="Logout"></paper-icon-button>
      </core-tooltip>
    </core-toolbar>
  </template>
  <script>
    Polymer('ele-header', {
      toggleUserMenu: function() {
        this.$.userMenu.opened = !this.$.userMenu.opened;
      },
      logout: function() {
        window.location = this.globals.env.API_ORIGIN + "/logout";
      },
      runCommand: function(e) {
        this.fire('core-signal', {name: e.target.getAttribute('command')});
      },
      launchHelp: function() {
        mixpanel.track('Opened Documentation');
        this.fire('core-signal', {name: 'save'});
        window.open('/docs');
      },
      openPublicPage: function() {
        mixpanel.track('Element Public Page Opened', {name: this.globals.package.name});
        this.fire('core-signal', {name: 'save'});
        window.open('/' + this.globals.user.username + '/' + this.globals.package.name);
      },
      updateSaved: function() {
        this.savedAt = new Date();
      },
      formatTime: function(date) {
        return date.toTimeString().substr(0,5);
      }
    });
  </script>
</polymer-element>
