<script src="../bower_components/lodash/dist/lodash.js"></script>

<polymer-element name="ele-preview" attributes="source demo">
  <template>
    <pvc-globals values="{{globals}}"></pvc-globals>
    <style>
      :host {
        display: block;
        position: relative;
      }

      iframe {
        border: none;
        width: 100%;
        height: 100%;
        position: absolute;
      }
    </style>
    <div id='container'>
    </div>
  </template>
  <script>
    Polymer('ele-preview', {
      observe: {
        source: 'sourceChanged',
        demo: 'sourceChanged'
      },
      created: function() {
        this.frameId = new Date().getTime();
      },
      sourceChanged: _.debounce(function() {
        this.nextFrame();
      }, 500),
      _tick: function(cb) {
        if (this._currentTick) {
          cancelAnimationFrame(this._currentTick);
        }
        this._currentTick = requestAnimationFrame(cb);
      },
      nextFrame: function(callback) {
        // thanks to https://github.com/jsbin/jsbin for some of these mechanics!
        var frame = document.createElement('iframe');
        frame.setAttribute('sandbox', 'allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts');
        frame.setAttribute('frameBorder', '0');
        frame.setAttribute('name', 'Ele Preview');
        frame.id = this.frameId++;
        
        this.$.container.insertBefore(frame, this.$.container.firstChild);
        
        var self = this;
        this._tick(function() {
          var _window = frame.contentWindow;
          var _document = _window.document;
          
          _document.open();
          // apparently firefox blows away the first document.write, make it blank
          _document.write('');
          _document.write('<!doctype html><html><head>' +
                          '  <base href="' + self.globals.env['API_ORIGIN'] + '/__vendor__/bower/libs/">' +
                          '  <script src="../platform/platform.js"></s' + 'cript>' +
                          '</head>');
          _document.write('<body>' + self.source + "\n\n" + self.demo + '</body></html>');
          _document.close();
          
          // clean up old frames once we're loaded up
          _document.addEventListener('polymer-ready', function(){
            _.each(self.$.container.querySelectorAll('iframe'), function(oldFrame) {
              if (oldFrame.id !== frame.id) {
                oldFrame.parentNode.removeChild(oldFrame);
              }
            });  
          });
        });
      }
    });
  </script>
</polymer-element>
