<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../bower_components/pvc-globals/pvc-globals.html">

<polymer-element name="ele-ajax" attributes="path response method params">
  <template>
    <pvc-globals values="{{globals}}"></pvc-globals>
    <core-ajax id='req' url="{{origin}}{{path}}" response="{{response}}" method="{{method}}" on-core-complete="{{bubble}}" on-core-error="{{bubble}}" on-core-response="{{bubble}}" handleAs="json" withCredentials="true" contentType="application/json"></core-ajax>
  </template>
  <script>
    (function() {
      var origin_ = 'https://api.ele.io';
    
      Polymer('ele-ajax', {
        method: 'GET',
        set origin(val) {
          origin_ = val;
        },
        get origin() {
          return origin_;
        },
        bubble: function() { this.fire.apply(this, arguments); },
        paramsChanged: function() {
          this.setBody(this.params);
        },
        ready: function() {
          this.envOrigin();
        },
        envOrigin: function() {
          if (this.globals.env && this.globals.env.API_ORIGIN) { this.origin = this.glboals.env.API_ORIGIN; }
        },
        setBody: function(params) {
          if (typeof(params) == 'string') {
            this.$.req.body = params;
          } else {
            this.$.req.body = JSON.stringify(params);
          }
        },
        go: function(params) {
          if (params) { this.setBody(params); }
          this.$.req.go();
        }
      });
    })();
  </script>
</polymer-element>