<link rel="import" href="/bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/core-icons/core-icons.html">

<polymer-element name="ele-header" attributes="package user" noscript>
  <template>
    <link rel="stylesheet" href="/css/ele-header.css">
    <core-toolbar>
      <div>{{package.name}}</div>
      <div flex>
        <paper-icon-button icon="menu" title="My Components"></paper-icon-button>
        <paper-icon-button icon="more-vert" title="New Component"></paper-icon-button>
      </div>
      <div>
        <paper-icon-button icon="shortcut"></paper-icon-button>
      </div>
      <div>
        {{user.name}}
      </div>
    </core-toolbar>
  </template>
</polymer-element>
