<link rel="import" href="../bower_components/core-ajax/core-ajax.html">

<polymer-element name="ele-ajax" attributes="origin path response method">
  <template>
    <divshot-env env="{{env}}" on-loaded="{{envOrigin}}"></divshot-env>
    <core-ajax id='req' url="{{origin}}{{path}}" response="{{response}}" method="{{method}}" on-core-complete="{{bubble}}" on-core-error="{{bubble}}" on-core-response="{{bubble}}" handleAs="json" withCredentials="true"></core-ajax>
  </template>
  <script>
    (function() {
      var origin_ = 'https://api.ele.io';
    
      Polymer('ele-ajax', {
        method: 'GET',
        set origin(val) {
          origin_ = val;
        },
        get origin() {
          return origin_;
        },
        bubble: function() { this.fire.apply(this, arguments); },
        ready: function() {
          this.envOrigin();
        },
        envOrigin: function() {
          if (this.env && this.env.API_ORIGIN) { this.origin = this.env.API_ORIGIN; }
        },
        go: function() { this.$.req.go(); }
      });
    })();
  </script>
</polymer-element>