<link rel="import" href="../bower_components/polymer-flex-layout/polymer-flex-layout.html">
<link rel="import" href="../bower_components/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="../bower_components/core-signals/core-signals.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/pvc-globals/pvc-globals.html">
      
<!-- UI -->
<link rel="import" href="ele-workspace.html">
<link rel="import" href="ele-header.html">
<link rel="import" href="ele-footer.html">
<link rel="import" href="ele-package-settings.html">
<link rel="import" href="ele-package-list.html">

<!-- Data -->
<link rel="import" href="ele-ajax.html">
<link rel="import" href="divshot-env.html">

<polymer-element name="ele-editor" attributes="packageId">
  <template>
    <link rel="stylesheet" href="ele-editor.css">
    
    <pvc-globals id="globals" values="{{globals}}"></pvc-globals>
    <divshot-env id="env" values="{{globals.env}}" on-loaded="{{bootstrap}}"></divshot-env>
    
    <ele-ajax id="reqSelf" path="/self" on-core-complete="{{checkAuth}}"></ele-ajax>
    <ele-ajax id="reqPackage" path="/{{globals.user.username}}/{{packageId}}" on-core-response="{{packageResponse}}"></ele-ajax>
    <ele-ajax id="reqCreatePackage" path="/packages" method="POST" on-core-response="{{packageResponse}}"></ele-ajax>
    <ele-ajax id="reqUpdatePackage" path="/{{globals.user.username}}/{{globals.package.id}}" method="PUT" on-core-response="{{saveSucceeded}}"></ele-ajax>
    
    <template if="{{globals.user && globals.package}}">
      <core-drawer-panel responsiveWidth="1600px" id="drawer">
        <core-signals on-core-signal-drawer-toggle="{{toggleDrawer}}"></core-signals>

        <core-header-panel drawer mode="seamed">
          <polymer-flex-layout vertical></polymer-flex-layout>
          <core-toolbar>Your Elements</core-toolbar>
          <div flex id="element-sidebar">
            <ele-package-list selected="{{packageId}}" on-selected="{{loadPackage}}"></ele-package-list>
            <paper-button id="new-element" on-click=="{{createElement}}">Create New Element</paper-button>
          </div>
        </core-header-panel>

        <core-header-panel main flex mode="seamed">
          <polymer-flex-layout vertical></polymer-flex-layout>
          <ele-header id="header"></ele-header>
          <ele-workspace id="workspace" flex></ele-workspace>
        </core-header-panel>
      </core-drawer-panel>
    </template>
    <template if="{{!globals.user || !globals.package}}">
      <div id="spinner">Loading, please wait...</div>
    </template>
  </template>
  <script>
    Polymer('ele-editor', {
      observe: {
        'globals.package': 'packageChanged',
        'globals.package.name': 'packageNameChanged',
      },
      commands: {
        layout: function(type) {
          this.$.workspace.setAttribute('layout', type);
        }
      },
      runCommand: function(e, command) {
        this.commands[command.name].call(this, command.args);
      },
      bootstrap: function() {
        this.$.reqSelf.origin = this.globals.env.API_ORIGIN;
        this.$.reqSelf.go();
      },
      toggleDrawer: function(e) {
        e.target.parentNode.togglePanel();
      },
      packageNameChanged: function(oldName, newName) {
        if (oldName && newName) {
          this.$.reqUpdatePackage.params = {name: newName};
          this.$.reqUpdatePackage.go({name: newName});
        }
      },
      saveSucceeded: function() {
        console.log("Save succeeded.");
      },
      checkAuth: function(e, result) {
        if (result.response === 200) {
          this.globals.user = this.$.reqSelf.response;
          this.globals.packages = this.globals.user.packages;
          
          if (!this.globals.package) {
            if (this.globals.packages.length > 0) {
              this.packageId = this.globals.packages[0].id;
            } else {
              this.createElement();
            }
          }
        } else if (result.response === 401) {
          window.location = this.globals.env.API_ORIGIN + "/auth";
        } else {
          alert("There was a problem connecting to the API. Sorry!");
        }
      },
      createElement: function() {
        this.globals.package = null;
        this.packageId = null;
        this.$.reqCreatePackage.go();
      },
      packageChanged: function() {
        if (this.globals.package) {
          document.title = this.globals.user.username + "/" + this.globals.package.name + " - Ele Web Components Editor";
          if(this.globals.package.id !== this.packageId){
            this.packageId = this.globals.package.id;
          }
        };
        
        var drawer = this.shadowRoot.getElementById('drawer');
        if (drawer && drawer.selected === 'drawer'){ drawer.togglePanel(); }
      },
      packageResponse: function(e, response) {
        this.globals.package = response.response;
      },
      loadPackage: function(e, packageName) {
        this.packageId = packageId;
      },
      packageIdChanged: function() {
        if (this.packageId) {
          history.pushState(null, "", "/e/" + this.packageId);
        }
        
        if (!this.globals.package || this.globals.package.id !== this.packageId) {
          this.globals.package = null;
          this.$.reqPackage.go();
        }
      }
    });
  </script>
</polymer-element>