<link rel="import" href="../bower_components/paper-item/paper-item.html">

<polymer-element name="ele-package-list" attributes="packages selected">
  <template>
    <template repeat="{{package in packages}}">
      <paper-item class="{{ {active: package.name == selected} | tokenList }}" on-click="{{loadPackage}}">{{package.name}}</paper-item>
    </template>
    <style>
      paper-item.active {
        background: #333;
        color: white;
      }
    </style>
  </template>
  <script>
    Polymer('ele-package-list', {
      loadPackage: function(e) {
        this.selected = e.target.innerText;
        this.fire('selected', this.selected);
      }
    });
  </script>
</polymer-element>