<link rel="import" href="/bower_components/ace-element/ace-element.html">

<polymer-element name="ele-workspace" attributes="layout">
  <template>
    <panel flex id="sourceContainer">asdasdas</panel>
    <panel flex id="demoContainer">asdsasd</panel>
    <panel flex id="previewContainer">demo preview goes here</panel>
    
    <style>
      :host { position: relative; }
      
      panel {
        display: block;
        overflow: hidden;
        position: absolute;
        width: 50%; height: 50%;
      }

      #sourceContainer {
        background: red;
        left: 0; top: 0; height: 100%;
      }

      #demoContainer {
        background: blue;
        right: 0; bottom: 0;
      }

      #previewContainer {
        background: yellow;
        top: 0; right: 0;
      }
      
      :host([layout=right]) #sourceContainer { right: 0; top: 0; }
      :host([layout=right]) #demoContainer { left: 0; bottom: 0; }
      :host([layout=right]) #previewContainer { left: 0; top: 0; }
      
      :host([layout=vertical]) panel { width: 100%; height: 33%; position: absolute; }
      :host([layout=vertical]) #sourceContainer { height: 33%; top: 0; }
      :host([layout=vertical]) #demoContainer { height: 33%; top: 33%; }
      :host([layout=vertical]) #previewContainer { height: 33%; top: 66%; }
    </style>
  </template>
  
  <script>
    Polymer('ele-workspace', {
      layout: 'left'
    });
  </script>
</polymer-element>