<link rel="import" href="/bower_components/polymer-flex-layout/polymer-flex-layout.html">

<!-- UI -->
<link rel="import" href="ele-workspace.html">
<link rel="import" href="ele-header.html">
<link rel="import" href="ele-footer.html">
<link rel="import" href="ele-package-settings.html">

<!-- Data -->
<link rel="import" href="ele-ajax.html">
<link rel="import" href="divshot-env.html">

<polymer-element name="ele-editor" attributes="package env user" on-command="{{runCommand}}">
  <template>
    <divshot-env env="{{env}}" on-loaded="{{bootstrap}}"></divshot-env>
    <ele-ajax id="reqSelf" path="/self" on-core-complete="{{checkAuth}}"></ele-ajax>
    
    <template if="{{user}}">
      <template if="{{package}}">
        <polymer-flex-layout vertical></polymer-flex-layout>
        <ele-header id="header" package="{{package}}" user="{{user}}"></ele-header>
        <ele-workspace id="workspace" package="{{package}}" flex></ele-workspace>
      </template>
      <template if="{{!package}}">
        <ele-package-settings heading="Create a New Element"></ele-package-settings>
      </template>
      <!--<ele-footer id="footer" package="{{package}}" ></ele-footer>-->
    </template>
    <template if="{{!user}}">
      <div id="spinner">Loading, please wait...</div>
    </template>
  </template>
  <script>
    Polymer('ele-editor', {
      package: {
        name: "example-el",
        files: {
          "example-el.html": "<polymer-element name=\"example-el\"></polymer-element>",
          "demo.html": "<example-el></example-el>"
        }
      },
      commands: {
        layout: function(type) {
          this.$.workspace.setAttribute('layout', type);
        }
      },
      runCommand: function(e, command) {
        this.commands[command.name].call(this, command.args);
      },
      bootstrap: function() {
        this.$.reqSelf.origin = this.env.API_ORIGIN;
        this.$.reqSelf.go();
      },
      checkAuth: function(e, result) {
        if (result.response === 200) {
          this.user = this.$.reqSelf.response;
          this.user.packages = [
            {name: "my-element", id: "abc123"},
            {name: "your-element", id: "abc124"},
            {name: "our-element", id: "abc125"},
            {name: "nobodys-element", id: "abc126"}
          ];
        } else if (result.response === 401) {
          window.location = this.env.API_ORIGIN + "/auth";
        } else {
          alert("There was a problem connecting to the API. Sorry!");
        }
      }
    });
  </script>
</polymer-element>