<link rel="import" href="../bower_components/paper-item/paper-item.html">

<polymer-element name="ele-package-list" attributes="packages selected">
  <template>
    <pvc-globals values="{{globals}}"></pvc-globals>
    <template repeat="{{package in globals.packages}}">
      <paper-item class="{{ {active: package.name == selected} | tokenList }}" on-click="{{loadPackage}}">{{package.name}}</paper-item>
    </template>
    <style>
      paper-item.active {
        background: #d26;
        color: white;
      }
    </style>
  </template>
  <script>
    Polymer('ele-package-list', {
      observe: {
        'globals.package.name': 'updateName'
      },
      loadPackage: function(e) {
        this.selected = e.target.innerText;
        this.fire('selected', this.selected);
      },
      updateName: function() {
        if (this.globals.packages) {
          this.globals.packages.forEach((function(package) {
            if (package.id === this.globals.package.id) {
              package.name = this.globals.package.name;
            }
          }).bind(this));
        }
      }
    });
  </script>
</polymer-element>