<script src="../bower_components/lodash/dist/lodash.js"></script>

<polymer-element name="ele-preview" attributes="element demo">
  <template>
    <divshot-env id="env"></divshot-env>
    <style>
      :host {
        position: relative;
      }

      iframe {
        border: none;
        width: 100%;
        height: 100%;
        position: absolute;
      }
    </style>
    <iframe id="frame"></iframe>
  </template>
  <script>
    Polymer('ele-preview', {
      animationFrameRequest: undefined,
      attached: function() {
        var changeHandler = _.debounce(this.sourceChanged.bind(this), 250);
        this.element.addEventListener('editor-input', changeHandler);
        this.demo.addEventListener('editor-input', changeHandler);
        this.buildFrame();
      },
      sourceChanged: function() {
        this.body.innerHTML = this.element.editorValue + "\n\n" + this.demo.editorValue;
      },
      buildFrame: function(callback) {
        var _document = this.$.frame.contentDocument;
        _document.open('text/html', '');
        _document.write('<head>' +
                        '  <base href="' + this.$.env.env['API_ORIGIN'] + '/user/example/dev/">' +
                        '  <script src="../platform/platform.js"></s' + 'cript>' +
                        '</head>');
        _document.close();
        this.body = _document.createElement('body');
        _document.firstChild.appendChild(this.body);
        
        this.$.frame.contentWindow.addEventListener('polymer-ready', function() {
          this.sourceChanged();
        }.bind(this));
      }
    });
  </script>
</polymer-element>